<div class="hero-unit">	
	<h1>welcome to ilearnedtoday</h1>
		<p>
			you've found the homepage of ilearnedtoday <%= link_to "ilearnedtoday", "ilearnedtoday.org" %>
		</p>
		<p>
			<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large"  %>
		</p>
</div>